<!DOCTYPE html>
<html {{ htmlAttributes | safe }}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hey Design</title>
    <link
      rel="shortcut icon"
      href="https://hey-design.oss-cn-beijing.aliyuncs.com/icon.png"
      type="image/x-icon"
    />
    {% for cssFile in manifest["css"] %}
    <link rel="stylesheet" type="text/css" href="{{ root }}hey/{{ cssFile }}" />
    {% endfor %}
    <style id="nprogress-style">
      #nprogress {
        display: none;
      }
    </style>
    <link rel="stylesheet/less" type="text/css" href="{{ root }}hey/color.less" />
    <script src="https://polyfill.alicdn.com/polyfill.min.js?features=default,es2015,Intl"></script>
    <script>
      (function() {
        function isLocalStorageNameSupported() {
          var testKey = 'test';
          var storage = window.localStorage;
          try {
            storage.setItem(testKey, '1');
            storage.removeItem(testKey);
            return true;
          } catch (error) {
            return false;
          }
        }
        // 判断当前访问的路径
        // var pathname = location.pathname;
        // // 判断是否中文
        // function isZhCN(pathname) {
        //   return /-cn\/?$/.test(pathname);
        // }
        // // 获取当地对应的语言路由
        // function getLocalizedPathname(path, zhCN) {
        //   // 路由是不是以“/”开始的，如果是就取path本身，否则取/+path
        //   var pathname = path.startsWith('/') ? path : '/' + path;
        //   if (pathname === '/') {
        //     return '/';
        //   } else if (pathname.endsWith('/')) {
        //     return pathname.replace(/\/$/, '-cn/');
        //   }
        //   return pathname + '-cn';
        // }

        // 如果访问首页
        // if (isLocalStorageNameSupported() && (pathname === '/' || pathname === '/index-cn')) {
        //   var lang = 'zh-CN';
        //   // safari is 'zh-cn', while other browser is 'zh-CN';
        //   if (!isZhCN(pathname)) {
        //     location.pathname = getLocalizedPathname(pathname, lang === 'zh-CN');
        //   }
        // }
        document.documentElement.className += 'zh-cn';
      })();
    </script>
  </head>
  <body>
    <div id="react-content">
      {{ content | safe }}
    </div>
    {% for jsFile in manifest["js"] %}
    <script src="{{ root }}hey/{{ jsFile }}"></script>
    {% endfor %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72788897-1"></script>
    <script>
      if (!location.port) {
        // Enable Google Analytics
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-72788897-1');
      }
    </script>
  </body>
</html>
